.pagination-container{
    margin-top: 80px;
}

.paginationBttns{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    background: #ccc;
    border-radius: 40px;
    padding: 0;
}

.paginationBttns li{
     list-style: none;
    width: 45px;
    height: 45px;
    margin: 10px 12px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 800;
    font-size: 15px;
    color: black;
    opacity: .6;
    cursor: pointer;
}

.paginationBttns li:hover{
    background: black;
    color: white;
    opacity: 1;
}

.paginationBttns .previous,
.paginationBttns .next{
    width: initial;
    height: initial;
    border-radius: initial;
    background: initial;
    opacity: 1;
}

.paginationBttns .previousBttn,
.paginationBttns .nextBttn{
    color: black;
    font-weight: 800;
    font-size: 15px;
    transition: .2s;
}

.paginationBttns .previous:hover,
.paginationBttns .next:hover{
   opacity: .7;
    background: none;
}

.paginationBttns .paginationActive{
    background: black;
    color: white;
    opacity: 1;
}







/* ****************************   Form start   **************************** */


.addblog{
    width: 100%;
}

.addblog h1{
    text-align: center;
    padding: 30px 0 30px;
    font-size: 45px;
    font-weight:700;
    font-family: 'Balsamiq Sans', cursive;
}

.addblog form{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.addblog form label{
    font-size: 18px;
    font-family: 'Balsamiq Sans', cursive;
}

.addblog form input,
.addblog form textarea{
    margin: 6px 0 25px;
    width: 100%;
    padding: 7px 5px;
    border-radius: 4px;
    border:none;
    border: 2px solid grey;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    opacity: .7;
}

.addblog form textarea{
    width: 100%;
    height: 200px;
    resize: none;
}

.addblog form input[type="file"]{
    border: none;   
}

.addblog form button{
    width: 180px;
    border: none;
    margin: 20px auto 50px;
    background: grey;
    height: 50px;
    font-size: 15px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    transition: .3s ease-in;
    outline: none;
}

.addblog form button:hover{
    background: black;
}


.error{
    margin-top: -20px;
    margin-bottom: 0;
    font-size: 14px;
    color: red;
    font-weight: 600;
}
