.navbar-container{
    position: relative;
}

.site-mobile-menu-body{
    overflow: hidden!important;
}

.site-mobile-menu-body h2{
    font-size: 18px;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .2s ease;
}

.site-mobile-menu-body h2:hover{
    color: var(--main-color);
}